/*
Developer: Connor Hardin
Date: 7/26/2022
Assignment: Final Project
File Name: styles.css
 */

 *{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

:root {
  --shadow: 5px 5px 25px 8px grey;

}

body{
    background: #f5f6fa;
}

/* side bar */
.wrapper {
  display: grid;
  grid-template-areas:
  'sidebar home'
  'sidebar my-port'
  'sidebar about-me'
  'sidebar skills'
  'sidebar contact'
  'sidebar footer';
  grid-template-columns: 220px 2fr;
}

.wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  margin: 0 auto;
  padding-bottom: 5px;
}

nav {
  display: flex;
  flex-direction: column;
}
div nav a {
  padding: 10px 25px;
  color: grey;
  font-size: 1.3rem;
  text-transform: capitalize;
  justify-content: center;
}
div nav a.active,
div nav a:hover {
  background: grey;
  color: #fff;
}

#sidebar {
  grid-area: sidebar;
}
/* Main Page */
#home {
  padding-top: 30px;
  text-align:center;
  grid-area: home;
  min-height: 60vh;
}

#home a {
  background-color: grey;
  padding: 4px;
  margin-top: 400px;
}



/* my-portfolio */
#my-portfolio {
  grid-area: my-port;
  padding: 10px;
}
#my-portfolio h2 {
text-indent: 25px;
padding: 10px;
font-size: 2.2rem;

}

#my-portfolio img {
  width: 35%;
  height: 35%;
}

#my-portfolio p:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 90%;
}


/* About Me */
#about-me {
  grid-area: about-me;
  padding: 10px;
  display: block;
}

#about-me h2 {
  text-align: center;
  font-size: 2.2rem;
  padding: 10px;
}

#about-me p strong {
  width: 500px;
  text-align: center;
  grid-area: h5;
}

#about-me p {
  width: 475px;
  text-align: center;
  float: left;
  grid-area: p;
}

#about-me img {
  width: 60%;
  height: 80%;
  border-radius: 25%;
  grid-area: img;
}

#about-me .body {
  display: grid;
  grid-template-areas:
  'p img btn'
  'p img open';
}


#about-me .btn {
  grid-area: btn;
  display: block;
  width: 50;
}

/* skills */
#skills {
  grid-area: skills;
  text-indent: 25px;
}

#skills h2 {
  text-align: center;
  font-size: 2.2rem;
  padding: 10px;
}

#skills .body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 250px;
  align-items: center;
  text-align: center;
  min-height: 40vh;
}

#html , #css, #js {
  box-shadow: var(--shadow);
  height: 25vh;
  width: 25vh;
  align-items: center;
  text-align: center;
  padding: 10px;
  justify-content: space-around;
}


/* progres bar */
.skill {
  width: 160px;
  height: 160px;
  position: relative;
}
.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.17)
}
.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
               inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0, 0, 0,0.05);
}
#number {
  font-weight: 600;
  color: #555;
}

#numberOne {
  font-weight: 600;
  color: #555;
}

#numberTwo {
  font-weight: 600;
  color: #555;

}
circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim{
  100%{
    stroke-dashoffset: 165;
  }
}

.skillTwo {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation-name: animTwo;
  animation-duration: 2s linear forwards;
}

@keyframes animTwo{
  100%{
    stroke-dashoffset: 188;
  }
}

.skillThree {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation-name: animThree;
  animation-duration: 2s linear forwards;
}
@keyframes animThree{
  100%{
    stroke-dashoffset: 283;
  }
}
/* Contact */
#contact {
  grid-area: contact;
}

#contact  h2{
  font-size: 2.2rem;
  text-align: center;
}

#contact .body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 10px;
  min-height: 20vh;
}

/* footer */
footer {
  grid-area: footer;
  display: grid;
  grid-template-areas:
  'left center right';
  min-height: 10vh;
}

.left {
  grid-area: left;
  display: flex;
}
.left i {
  border-radius: 12px 50px 20px 5px;
  background-color: grey;
}

i {
  left: 10px;
}

.center {
  grid-area: center;

}

.right {
  grid-area: right;
}
