/*
Developer: Connor Hardin
Date: 7/26/2022
Assignment: Final Project
File Name: styles.css
 */

 *{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

:root {
  --shadow: 5px 5px 25px 8px grey;

}

body{
    background: #f5f6fa;
}

/* side bar */
.wrapper {
  display: grid;
  grid-template-areas:
  'sidebar home'
  'sidebar my-port'
  'sidebar about-me'
  'sidebar skills'
  'sidebar contact';
  grid-template-columns: 220px 2fr;
}

.wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  margin: 0 auto;
  padding-bottom: 5px;
}

nav {
  display: flex;
  flex-direction: column;
}
div nav a {
  padding: 10px 25px;
  color: grey;
  font-size: 1.3rem;
  text-transform: capitalize;
  justify-content: center;
}
div nav a.active,
div nav a:hover {
  background: grey;
  color: #fff;
}

#sidebar {
  grid-area: sidebar;
}
/* Main Page */
#home {
text-align:center;
grid-area: home;
}

#home a {
  background-color: grey;
  padding: 4px;
  margin-top: 400px;
}



/* my-portfolio */
#my-portfolio {
  grid-area: my-port;
  padding: 10px;
}
#my-portfolio h2 {
text-indent: 25px;
padding: 10px;
font-size: 2.2rem;

}

#my-portfolio img {
  width: 35%;
  height: 35%;
}

#my-portfolio p:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 90%;
}


/* About Me */
#about-me {
  grid-area: about-me;
  padding: 10px;
  display: block;
}

#about-me h2 {
  text-align: center;
  font-size: 2.2rem;
  padding: 10px;
}

#about-me p strong {
  width: 500px;
  text-align: center;
  grid-area: h5;
}

#about-me p {
  width: 475px;
  text-align: center;
  float: left;
  grid-area: p;
}

#about-me img {
  width: 50%;
  height: 70%;
  border-radius: 25%;
  grid-area: img;
}

#about-me .body {
  display: grid;
  grid-template-areas:
  'p img'
  'p img';
}


/* skills */
#skills {
  grid-area: skills;
  text-indent: 25px;
}

#skills h2 {
  text-align: center;
  font-size: 2.2rem;
  padding: 10px;

}
