/*
Developer: Connor Hardin
Date: 7/26/2022
Assignment: Final Project
File Name: styles.css
 */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

.wrapper, section {
  display: grid;
  padding: 10px;
  grid-template-areas:
  'left home'
  'left my-port'
  'left about-me'
  'left skills'
  'left contact';
}



header {
  position: fixed;
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  margin-right: 1000px;
}

nav img {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  margin-left: 8%;
}

nav a {
  width: 400px;
  text-align: center;
}

header nav a {
  padding: 10px 25px;
  color: grey;
  font-size: 1.3rem;
  text-transform: capitalize;
  justify-content: left;
}

header nav a.active,
header nav a:hover {
  background: grey;
  color: #fff;
}

section{
  min-height: 50vh;
  display: grid;
  align-items: center;
  text-transform: capitalize;
}

section h1 {
  font-size: 3.4rem;
  text-align: center;
}

section:nth-child(odd){
  background: #eee;
}
.left nav {
  grid-area: left
}

#home {
  display: grid;
  grid-template-areas:
  'fname'
  'wdev'
  'button';
  grid-area: home;
  text-align: center;
}
#home h6 {
text-align: center;
font-size: 1.6rem;

}

.btn {
  background-color: grey;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  width: 20%;
  text-align: center;
  margin-left: 530px;

}


#my-portfolio {
  grid-area: my-port;
  display: block;
}
#my-portfolio h2 {
  text-align: center;
}
#my-portfolio .port-img {
  width: 40%;
  height: 40%;
}

#about-me {
  grid-area: about-me;
}
#skills {
  grid-area: skills;
}
#contact {
  grid-area: contact;
}
